#VERSION_CONCOURSE=''
#VERSION_POSTGRES=''
#VERSION_MINIO=''
#VERSION_REGISTRY=''
#VERSION_ARTIFACTORY_CPP_CE=''

#NETWORK='elbb-dev'

#PORT_CONCOURSE='8888'
#PORT_REGISTRY='5000'
#PORT_MINIO='9000'
#PORT_ARTIFACTORY_CPP_CE='8081'
#PORT_ARTIFACTORY_CPP_CE_UI='8082'